
/* Navigation Bar */
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
}

li {
    margin-top: 10px;
    display: inline-block;
    float: none;
  }
  
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #2f2f2f;
    color: white;
    text-decoration: none;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}



/* Body */
body {
    font-family: Andale Mono, monospace;
    color: #2f2f2f;
    font-size: 16px;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

/* Animated Header */
.container {
    width: 100%;
    height: 10vh;
    background: rgb(250, 250, 250);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    color: #ffd900;
}

.container h1 {
    font-size: 50px;
    font-weight: 600;
}



/* Heading */
h1 {
    font-size: 50px;
    text-align: center;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 3.0s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }

p {
     font-size: 15px;
     
     
}


.ul_skills {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
}

.li_skills {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
    overflow: none;
    display: block;
    
}

.download-resume{
    display: inline-block;
    background-color: #2f2f2f;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 50px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
  }
  
.download-resume:hover {
    background-color: #000000;
    opacity: 70%;
    
  }







